<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.biz.crawl.persistance.NaverDao">
 
 	<insert id="insert">
 	INSERT INTO `tbl_movie`
				(`id`,
				`m_rank`,
				`m_title`,
				`m_detail_url`,
				`m_image_url`)
			VALUES
				(#{id},
				#{m_rank},
				#{m_title},
				#{m_detail_url},
				#{m_image_url}
			);
 	</insert>
 
 </mapper> 